<h1>Blog Detail</h1>
<div class="list-table">
<table class=show>
<tr>
<td>ID: </td>
<td><%= @blog.id %></td>
</tr>
<tr>
<td>Content: </td>
<td><%= @blog.content %></td>
</tr>
</table>
</div>
<div class="btn"><%= link_to "Back to Blog List Screen", blogs_path %></div>
